/* This is global css only */
:root {
    --auto: #72a4aa;
    --techno: #fcce08;
    --electro: #8695b0;
    --santalimentation: #F06C4C;
    --plemle: #9d9fa2;
    --leblogue: #9d9fa2;
    --argent: #6fb6c6;
    --maison: #81a32b;
    --LoisirsFamille: #8f598f;
    --chronique: #9d9fa2;
    --lightgrey: #F8F8F8;
    --gray: #ebebec;
}
