/* This is the css for Aticle_Content.js only */

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding_right {
    padding-right: 0;
}

.no-padding_left {
    padding-left: 0;
}

h1 {
    font-family: Helvetica;
    font-size: 34px;
    text-transform: uppercase;
}

.article_content {
    margin: 13px 0 80px 0;
}

.article_content  .table p {
    font-size: 12px!important;
}

.article_content.font_small .bold,
.article_content.font_small .article-text p {
    font-size: 18px;
}

.article_content.font_medium .bold,
.article_content.font_medium .article-text p {
    font-size: 22px;
    line-height: 34px;
}

.article_content.font_large .bold,
.article_content.font_large .article-text p {
    font-size: 26px;
    line-height: 34px;
}

.article_content img {
    max-width: 100%;
    height: auto;
}

.article_content strong {
    color: #000;
}

.description_article {
    position: relative;
    height: 146px;
    padding: 10px 15px 63px 10px;
    background-color: #ebebec;
}

.description_article span {
    font-family: Helvetica;
    font-size: 12px;
    padding-top: 20px;
    text-transform: uppercase;
}

.article_hero_img span {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 3px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

button.image-gallery-right-nav:focus{
    outline: 0
}

button.image-gallery-left-nav:focus{
    outline: 0
}


.image-gallery-slide
.image-gallery-description {
    bottom: 0!important;
    text-transform: uppercase;
}

.article_hero_img {
    position: relative;
}

.article_hero_img .Auto {
    background-color: var(--auto);
}

.article_hero_img .Technologie {
    background-color: var(--techno);
}

.article_hero_img .lectromnagers {
    background-color: var(--electro);
}

.article_hero_img .SantAlimentation {
    background-color: var(--santalimentation);
}

.article_hero_img .Plemle {
    background-color: var(--plemle);
}

.article_hero_img .Leblogue {
    background-color: var(--leblogue);
}

.article_hero_img .Argent {
    background-color: var(--argent);
}

.article_hero_img .Maison {
    background-color: var(--maison);
}

.article_hero_img .LoisirsFamille {
    background-color: var(--LoisirsFamille);
}

.article_hero_img .Chroniques {
    background-color: var(--chronique);
}

.category_color {
    height: 8px;
    margin-top: 17px;
}

.category {
    position: absolute;
    bottom: 18.9%;
}

.category_color.Auto {
    background-color: var(--auto);
}

.category_color.Technologie {
    background-color: var(--techno);
}

.category_color.lectromnagers {
    background-color: var(--electro);
}

.category_color.SantAlimentation {
    background-color: var(--santalimentation);
}

.category_color.Plemle {
    background-color: var(--plemle);
}

.category_color.Leblogue {
    background-color: var(--leblogue);
}

.category_color.Argent {
    background-color: var(--argent);
}

.category_color.Maison {
    background-color: var(--maison);
}

.category_color.LoisirsFamille {
    background-color: var(--LoisirsFamille);
}

.category_color.Chroniques {
    background-color: var(--chronique);
}

.header_slider {
    padding-top: 40px;
    position: relative;
}

.header_hero_img img {
    margin-top: 70px;
    height: 630px;
    width: 100%;
    max-width: 100%;
}

.prev_article {
    text-align: right;
    font-size: 12px;
    z-index: -1;
    position: absolute;
    left: -80%;
    top: -29px;
    width: 270px;
    height: 120px;
    background-color: #F8F8F8;
    padding: 23px;
}

.next_article {
    text-align: right;
    font-size: 12px;
    z-index: -1;
    position: absolute;
    right: -90%;
    top: -29px;
    width: 270px;
    height: 120px;
    background-color: #F8F8F8;
    padding: 23px;
}

.next_article span {
    padding: 35px 50px 0 0;
    font-size: 12px;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #58585A;
}

.next_article p {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    padding: 3px 50px 0 0;
}

.prev_article span {
    padding: 35px 0 0 50px;
    font-size: 12px;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #58585A;
}

.prev_article p {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    padding: 3px 0 0 50px;
}

.article_icons {
    text-align: center;
}

.article_icons img {
    padding: 12px;
    width: auto;
}

.article_icons img:hover {
    -webkit-transition: all 200ms ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in-out;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in-out;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}

.author {
    display: none;
}

.article_content p {
    font-family: Helvetica;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    font-size: 18px;
    margin-top: 11px;
    color: #58585A;
}

.chroniques li {
    list-style-type: none;
}

.chroniques_intro {
    font-family: Helvetica;
    color: #D51E19;
    margin-bottom: 40px;
}

.chroniques_title {
    font-weight: bold;
    color: #000000;
}

.chroniques_content p {
    padding-bottom: 10px;
}

.chroniques_content {
    margin-bottom: 50px;
    border-bottom: 2px solid #9d9fa2;
}

.trigger_arrow {
    margin-top: 25px;
    width: 30px;
    height: auto;
}

.transition_default {
    transform: rotate(0deg);
    transition: 600ms ease all;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.transition_active {
    transform: rotate(180deg);
    transition: 600ms ease all;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.content_hide {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

/*******************************************
This is the subfolder navigation for desktop
********************************************/

.sub_folder_nav {
    margin-top: 16px;
}

.sub_folder_nav ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.sub_folder_nav ul li {
    font-family: Helvetica;
    font-size: 14px;
    text-align: left;
    padding: 13px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}

/*******************************************************************
  This is only for the li with className sub_folder on desktop
 *******************************************************************/

.sub_folderAuto {
    background-color: var(--lightgrey);
}

.sub_folderTechnologie {
    background-color: var(--lightgrey);
}

.sub_folderlectromnagers {
    background-color: var(--lightgrey);
}

.sub_folderSantAlimentation {
    background-color: var(--lightgrey);
}

.sub_folderPlemle {
    background-color: var(--lightgrey);
}

.sub_folderLeblogue {
    background-color: var(--lightgrey);
}

.sub_folderArgent {
    background-color: var(--lightgrey);
}

.sub_folderMaison {
    background-color: var(--lightgrey);
}

.sub_folderLoisirsFamille {
    background-color: var(--lightgrey);
}

.sub_folderChroniques {
    background-color: var(--lightgrey);
}

/*********** ON ACTIVE START *************/

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderAuto.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--auto);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderAuto.active {
    color: #ffffff;
    background-color: var(--auto);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderTechnologie.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--techno);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderTechnologie.active {
    color: #ffffff;
    background-color: var(--techno);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderlectromnagers.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--electro);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderlectromnagers.active {
    color: #ffffff;
    background-color: var(--electro);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderSantAlimentation.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--santalimentation);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderSantAlimentation.active {
    color: #ffffff;
    background-color: var(--santalimentation);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderPlemle.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--plemle);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderPlemle.active {
    color: #ffffff;
    background-color: var(--plemle);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderLeblogue.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--leblogue);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}


.sub_folderLeblogue.active {
    color: #ffffff;
    background-color: var(--leblogue);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderArgent.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--argent);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderArgent.active {
    color: #ffffff;
    background-color: var(--argent);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderMaison.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--maison);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderMaison.active {
    color: #ffffff;
    background-color: var(--maison);
}

/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderLoisirFamille.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--LoisirsFamille);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderLoisirsFamille.active {
    color: #ffffff;
    background-color: var(--LoisirsFamille);
}


/**## ON ACTIVE ARROW LEFT ##**/
.sub_folderChroniques.active::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-right: 23.5px solid var(--chronique);
    border-left: 23.5px solid rgba(0,0,0,0);
    border-top: 23.5px solid rgba(0,0,0,0);
    border-bottom: 23.5px solid rgba(0,0,0,0);
}

.sub_folderChroniques.active {
    color: #ffffff;
    background-color: var(--chronique);
}

/*********** ON ACTIVE END *************/

/*********************************
 ON HOVER BACKGROUND COLOR CHANGE
 *********************************/
.sub_folderAuto:hover {
    color: #ffffff;
    background-color: var(--auto);
}

.sub_folderTechnologie:hover {
    color: #ffffff;
    background-color: var(--techno);
}

.sub_folderlectromnagers:hover {
    color: #ffffff;
    background-color: var(--electro);
}

.sub_folderSantAlimentation:hover {
    color: #ffffff;
    background-color: var(--santalimentation);
}

.sub_folderPlemle:hover {
    color: #ffffff;
    background-color: var(--plemle);
}

.sub_folderLeblogue:hover {
    color: #ffffff;
    background-color: var(--leblogue);
}

.sub_folderArgent:hover {
    color: #ffffff;
    background-color: var(--argent);
}

.sub_folderMaison:hover {
    color: #ffffff;
    background-color: var(--maison);
}

.sub_folderLoisirsFamille:hover {
    color: #ffffff;
    background-color: var(--LoisirsFamille);
}

.sub_folderChroniques:hover {
    color: #ffffff;
    background-color: var(--chronique);
}
/***********************/



/*****************************************************************************************
    React css transition effect on hover for arrownext and arrowprev in article_content.js
 *****************************************************************************************/

.hover_effect-enter {
    opacity: 0.01;
}

.hover_effect-enter.hover_effect-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.hover_effect-leave {
    opacity: 1;
    -webkit-transition: max-height 0.5s ease;
}

.hover_effect-leave.hover_effect-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/*****************************************************************************************
    React css transition effect on hover for arrownext and arrowprev in article_content.js
 *****************************************************************************************/

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    .arrow_prev, .arrow_next {
        display: none;
    }
}

@media (min-width: 1024px) {
    /** ELEMENTS NOT BEING DISPLAYED ON MOBILE DEVICES **/
    .subfolder_nav_mobile {
        display: none;
    }

    .mTopArticle {
        margin-top: 40px;
    }

    .arrow_prev {
        position: fixed;
        z-index: 1;
        left: 4%;
        top: 50%;
    }

    .arrow_next {
        position: fixed;
        z-index: 1;
        right: 4%;
        top: 50%;
    }

    .article_icons img {
        padding: 7px;
        width: auto;
    }
}

@media (max-width: 1024px) {
    /** ELEMENTS NOT BEING DISPLAYED ON MOBILE DEVICES **/
    .arrow_prev, .arrow_next {
        display: none;
    }

    .full-width-tablet .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .author {
        display: none;
    }

    .header_slider {
        margin-top: -110px;
    }

    .header_hero_img img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .article_icons img {
        padding: 7px;
        width: auto;
    }

    .arrow_prev, .arrow_next {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    .description_article {
        height: 100px;
        padding: 10px 15px 0 10px;
    }

    .subfolder_nav_mobile {
        position: relative;
        margin: 20px 0;
        padding: 0 20px;
        height: 50px;
        text-align: right;
    }

    .subfolder_nav_mobile p {
        font-family: Helvetica;
        padding: 14px 0;
        color: #ffffff;
        text-align: left;
    }

    .subfolder_nav_mobile img {
        position: absolute;
        top: 22px;
        right: 15px;
        max-width: 10px;
        height: auto;
    }

    .subfolder_nav_mobile ul {
        position: absolute;
        z-index: 1;
        top: 52px;
        right: 0;
        left: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.75);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.75);
    }

    .subfolder_nav_mobile ul li {
        font-family: Helvetica;
        font-size: 16px;
        text-align: left;
        background-color: #F8F8F8;
        padding: 13px;
        border-bottom: 1px solid #ffffff;
    }

    .subfolder_nav_mobile.Auto ul li:hover {
        background-color: var(--auto);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Technologie ul li:hover {
        background-color: var(--techno);
        color: #ffffff;
    }

    .subfolder_nav_mobile.lectromnagers ul li:hover {
        background-color: var(--electro);
        color: #ffffff;
    }

    .subfolder_nav_mobile.SantAlimentation ul li:hover {
        background-color: var(--santalimentation);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Plemle ul li:hover {
        background-color: var(--plemle);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Leblogue ul li:hover {
        background-color: var(--leblogue);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Argent ul li:hover {
        background-color: var(--argent);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Maison ul li:hover {
        background-color: var(--maison);
        color: #ffffff;
    }

    .subfolder_nav_mobile.LoisirsFamille ul li:hover {
        background-color: var(--LoisirsFamille);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Chroniques ul li:hover {
        background-color: var(--chronique);
        color: #ffffff;
    }

    .subfolder_nav_mobile.Auto {
        background-color: var(--auto);
    }

    .subfolder_nav_mobile.Technologie {
        background-color: var(--techno);
    }

    .subfolder_nav_mobile.lectromnagers {
        background-color: var(--electro);
    }

    .subfolder_nav_mobile.SantAlimentation {
        background-color: var(--santalimentation);
    }

    .subfolder_nav_mobile.Plemle {
        background-color: var(--plemle);
    }

    .subfolder_nav_mobile.Leblogue {
        background-color: var(--leblogue);
    }

    .subfolder_nav_mobile.Argent {
        background-color: var(--argent);
    }

    .subfolder_nav_mobile.Maison {
        background-color: var(--maison);
    }

    .subfolder_nav_mobile.LoisirsFamille {
        background-color: var(--LoisirsFamille);
    }

    .subfolder_nav_mobile.Chroniques {
        background-color: var(--chronique);
    }
}

@media (max-width: 768px) {

    .marginTop {
        margin-top: 0;
    }

    .sub_folder_nav {
        display: none;
    }

    .full-width-tablet .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .author {
        display: none;
    }

    .category_color {
        display: none;
    }

    .article_icons {
        margin: 30px 0 10px 0;
        text-align: left;
    }

    .header_hero_img img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 19px;
    }

    .description_article {
        height: 100px;
        padding: 10px 15px 0 10px;
    }
    .hero_img span {
        font-size: 16px;
    }
    .active::before {
        display: none;
    }
}

/*** Mobile Landscape ***/
@media (max-width: 667px) {
    /** ELEMENTS NOT BEING DISPLAYED ON MOBILE DEVICES **/
    .sub_folder_nav {
        display: none;
    }

    .container {
        max-width: 667px;
    }

    .header_slider {
        margin-top: -70px;
    }

    .header_hero_img {
        margin-top: -40px;
    }

    h1 {
        font-size: 23px;
    }

    .category_color {
        display: none;
    }

    .article_icons {
        position: relative;
        margin: 20px 0;
        text-align: right;
    }

    .author {
        display: block;
        font-size: 12px;
        position: absolute;
        top: 28%;
        width: 50%;
        color: #58585A;
    }

    .arrow_prev, .arrow_next {
        display: none;
    }

    .header_hero_img img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .description_article {
        height: 100px;
        padding: 10px 15px 0 10px;
    }

    .description_article span {
        display: none;
    }
}

/*** Mobile Portrait ***/
@media (max-width: 414px) {
    /** ELEMENTS NOT BEING DISPLAYED ON MOBILE DEVICES **/
    .category_color, .sub_folder_nav {
        display: none;
    }

    .arrow_prev, .arrow_next {
        display: none;
    }

    .header_hero_img {
        margin-top: -40px;
    }

    h1 {
        font-size: 17px;
    }

    .author {
        display: block;
        font-size: 12px;
        position: absolute;
        top: 16%;
        width: 50%;
        color: #58585A;
    }

    .header_hero_img img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .header_slider {
        margin-top: -70px;
    }

    .description_article {
        height: 100px;
        padding: 10px 15px 0 10px;
    }

    .article_hero_img span {
        font-size: 13px;
    }

    .hero_img span {
        font-size: 13px;
    }

    .description_article span {
        display: none;
    }

    .article_content .table {
        display: block;
        overflow-x: auto;
    }


}