/* This is the css for Article list only*/

h2 {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    color: #000;
}

.xl_pv_logo img {
    position: relative;
    margin-top: 40px;
    width: 560px;
    height: auto;
}

.grey_bg {
    background-color: #ebebec;
    margin-top: 20px;
}

.grey_bg .article_title  {
    height: 98px;
    padding: 14px 12px;
    background-color: #ffffff;
}

.article_list {
    margin: 41px 10px 10px 10px ;
}


.article_title {
    height: 77px;
    padding: 10px;
    background-color: var(--gray);
}

.article_list_img {
    position: relative;
}

.article_list_img img {
    width: 100%;
    height: 150px;
}

.article_list_img span {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 3px 3px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.article_list_img .Auto {
    background-color: var(--auto);
}

.article_list_img .Technologie {
    background-color: var(--techno);
}

.article_list_img .lectromnagers {
    background-color: var(--electro);
}

.article_list_img .SantAlimentation {
    background-color: var(--santalimentation);
}

.article_list_img .Plemle {
    background-color: var(--plemle);
}

.article_list_img .Leblogue {
    background-color: var(--leblogue);
}

.article_list_img .Argent {
    background-color: var(--argent);
}

.article_list_img .Maison {
    background-color: var(--maison);
}

.article_list_img .LoisirsFamille {
    background-color: var(--LoisirsFamille);
}

.article_list_img .Chroniques {
    background-color: var(--chronique);
}


/**************** ################
            RESPONSIVE
 ################ **************/


/* Landscape */
@media (max-width: 1024px) {
    .article_list {
        margin: 40px 10px 10px 10px;
    }
    .article_list_img img {
        height: 117px;
    }
    .article_title {
        height: 92.1px;
    }
    .xl_pv_logo img {
        margin: 0 auto;
        padding-top: 30px;
        width: 510px;
        height: auto;
        display: block;
    }
    .grey_bg {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .article_list {
        margin: 10px 10px ;
    }

    .xl_pv_logo img {
        margin: 0 auto;
        padding-top: 30px;
        width: 450px;
        height: auto;
        display: block;
    }

    .grey_bg {
        padding: 20px 0;
    }
}

/*** Landscape ***/
@media (max-width: 667px) {

    h2 {
        font-family: Helvetica;
        font-size: 13px;
        text-transform: uppercase;
        padding: 15px;
        margin: 0;
        color: #ffffff;
    }

    h1 {
        font-family: Helvetica;
        font-size: 20px;
    }

    .grey_bg .article_title {
        position: absolute;
        top: 38%;
        padding: 12px 5px;
        background-color: transparent;
    }


    .xl_pv_logo img {
        margin: 0 auto;
        padding-top: 30px;
        max-width: 300px;
        height: auto;
        display: block;
    }

    .article_list {
        margin: 4px;
    }

    .article_list_img img {
        position: relative;
        width: 100%;
        height: auto;
        filter: brightness(50%);
    }


    .article_list_img img {
        width: 325.5px;
        height: 184px;
    }

    .article_list_img span {
        font-size: 16px;
        color: #fff;
        padding: 10px 3px;
        position: absolute;
        width: 100%;
        bottom: 77%;
        left: 0;
    }

    .description {
        height: 113px;
        padding: 10px 15px 10px 10px;
    }

    /**** Article categories color ****/
    .article_list_img .Auto {
        background-color: var(--auto);
        opacity: 0.8;
    }

    .article_list_img .Technologie {
        background-color: var(--techno);
        opacity: 0.8;
    }

    .article_list_img .lectromnagers {
        background-color: var(--electro);
        opacity: 0.8;
    }

    .article_list_img .SantAlimentation {
        background-color: var(--santalimentation);
        opacity: 0.8;
    }

    .article_list_img .Plemle {
        background-color: var(--plemle);
        opacity: 0.8;
    }

    .article_list_img .Leblogue {
        background-color: var(--leblogue);
        opacity: 0.8;
    }

    .article_list_img .Argent {
        background-color: var(--argent);
        opacity: 0.8;
    }

    .article_list_img .Maison {
        background-color: var(--maison);
        opacity: 0.8;
    }

    .article_list_img .LoisirsFamille {
        background-color: var(--LoisirsFamille);
        opacity: 0.8;
    }

    .article_list_img .Chroniques {
        background-color: var(--chronique);
        opacity: 0.8;
    }
}

/*** Portrait ***/
@media (max-width: 414px) {
    h1 {
        font-family: Helvetica;
        font-size: 20px;
    }

    h2 {
        font-family: Helvetica;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0;
        color: #ffffff;
    }

    .grey_bg .article_title {
        position: absolute;
        top: 27%;
        padding: 0;
        background-color: transparent;
    }

    .xl_pv_logo img {
        margin-left: 60px;
        max-width: 264px;
        height: auto;
        display: block;
    }

    .article_list {
        margin: 4px;
    }

    .article_list_img img {
        position: relative;
        width: 100%;
        height: auto;
        filter: brightness(50%);
    }

    .article_list_img span {
        font-size: 12px;
        color: #fff;
        padding: 3px 3px;
        position: absolute;
        width: 100%;
        bottom: 79%;
        left: 0;
    }

    .description {
        height: 113px;
        padding: 10px 15px 10px 10px;
    }

    /**** Article categories color ****/
    .article_list_img .Auto {
        background-color: var(--auto);
        opacity: 0.8;
    }

    .article_list_img .Technologie {
        background-color: var(--techno);
        opacity: 0.8;
    }

    .article_list_img .lectromnagers {
        background-color: var(--electro);
        opacity: 0.8;
    }

    .article_list_img .SantAlimentation {
        background-color: var(--santalimentation);
        opacity: 0.8;
    }

    .article_list_img .Plemle {
        background-color: var(--plemle);
        opacity: 0.8;
    }

    .article_list_img .Leblogue {
        background-color: var(--leblogue);
        opacity: 0.8;
    }

    .article_list_img .Argent {
        background-color: var(--argent);
        opacity: 0.8;
    }

    .article_list_img .Maison {
        background-color: var(--maison);
        opacity: 0.8;
    }

    .article_list_img .LoisirsFamille {
        background-color: var(--LoisirsFamille);
        opacity: 0.8;
    }

    .article_list_img .Chroniques {
        background-color: var(--chronique);
        opacity: 0.8;
    }

    .article_list_img img {
        width: 199px;
        height: 101.47px;
    }

}

@media (max-width: 375px) {
    .article_list_img span {
        font-size: 12px;
        color: #fff;
        padding: 3px 3px;
        position: absolute;
        width: 100%;
        bottom: 77%;
        left: 0;
    }

    .article_list_img img {
        width: 179.5px;
        height: 101.47px;
    }
}



