.bg {
    background-color: #ffffff;
    height: 100vh;
}

.content {
    margin-top: 250px;
    text-align: center;
}

.content img {
    margin: 20px 0;
    max-width: 38px;
    height: auto;
}

.content p {
    font-family: Helvetica;
    font-size: 16px;
    color: #464648;
    line-height: 20px;
}

.btn_login {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 14px;
    background-color: #D51E19;
    color: #ffffff;
    padding: 9px 35px;
    margin-top: 20px;
    border: 0;
    border-radius: 2px;
    position: relative;
}

.boutique {
    margin-top: 20px;
}

.boutique a {
    font-family: Helvetica;
    font-size: 14px;
    color: #CD260E;
    text-decoration: underline;
}


/**************** ################
            RESPONSIVE
 ################ **************/


/*** Portrait ***/
@media (max-width: 414px) {
    .content {
        margin-top: 180px;
    }

    .nav_burger_icon {
        display: none;
    }
}