/* This is the css only for the dropdown menu only */

.bg_black {
    font-family: Helvetica;
    background-color: #000000;
    padding: 11.5px;
    color: #ffffff;
}

.bg_black:hover {
    color: #ffffff;
    background-color: #000000;
}


/* This is burger icon effect  */
.nav_burger_icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 7%;
    background: #fff;
    border-radius: 0;
    opacity: 1;
    left: 8px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav_burger_icon span:nth-child(1) {
    top: 16px;
}

.nav_burger_icon span:nth-child(2) {
    top: 25px;
}

.nav_burger_icon span:nth-child(3) {
    top: 33px;
}

.nav_burger_icon.open span:nth-child(1) {
    top: 27px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nav_burger_icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.nav_burger_icon.open span:nth-child(3) {
    top: 27px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* This is burger icon effect  */



.menu-enter {
    opacity: 0.01;
}

.menu-enter.menu-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.menu-leave {
    opacity: 1;
    -webkit-transition: max-height 0.5s ease;
}

.menu-leave.menu-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.menu-burger {
    cursor: pointer;
}

.menu-burger ul {
    position: absolute;
    z-index: 999;
    top: 98%;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    width: 330px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}

.menu-burger a li {
    font-family: Helvetica;
    font-size: 18px;
    color: #58585A;
    padding: 11.5px;
    border-bottom: 1px solid #E4E4E4;
}

.menu-burger .Auto {
    border-left: 8px solid var(--auto);
}
.menu-burger .Technologie {
    border-left: 8px solid var(--techno);
}
.menu-burger .lectromnagers {
    border-left: 8px solid var(--electro);
}
.menu-burger .SantAlimentation {
    border-left: 8px solid var(--santalimentation);
}
.menu-burger .Maison {
    border-left: 8px solid var(--maison);
}
.menu-burger .Argent {
    border-left: 8px solid var(--argent);
}
.menu-burger .LoisirsFamille {
    border-left: 8px solid var(--LoisirsFamille);
}
.menu-burger .Plemle {
    border-left: 8px solid var(--plemle);
}
.menu-burger .Leblogue {
    border-left: 8px solid var(--leblogue);
}
.menu-burger .Chroniques {
    border-left: 8px solid var(--chronique);
}

.menu-burger ul a li:hover {
    color: #58585A;
    background-color: #F0F0F0;
}

.menu-burger-mobile {
    display: none;
}

/**************** ################
            RESPONSIVE
 ################ **************/

/*** Tablette Landscape ***/
@media (max-width: 1024px) {

    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */
    .menu_mobile-enter {
        opacity: 0.01;
    }

    .menu_mobile-enter.menu_mobile-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .menu_mobile-leave {
        opacity: 1;
        -webkit-transition: max-height 0.5s ease;
    }

    .menu_mobile-leave.menu_mobile-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */

    .menu-burger ul {
        width: 100vw;
    }
    .menu-burger {
        display: none;
    }

    .menu-burger-mobile .nav_burger_icon {
        padding: 13px;
        text-align: center;
    }

    .menu-burger-mobile {
        position: fixed;
        z-index: 1;
        display: block;
        /*border-right: 1px solid #ffffff;*/
        height: 49px;
        width: 50px;
        /*background-color: #D51E19;*/
    }
    #menu_mobile{
        width: 50vw;
        height: 8vh;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: scroll;
        z-index: 1000;
    }

    #menu_mobile.hide {
        transform: translate3d(-50vw, 0, 0);
        height: 50px;
    }

    #menu_mobile.show {
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
        height: 50px;
        position: relative;
        margin-top: -50px;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    }

    .slide_nav_burger_icon img {
        width: auto;
    }
    .slide_nav_burger_icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
        background-color: #D51E19;
        width: 50px;
        height: 50px;
    }

    .logo-pv-slide_nav {
        padding: 13px;
    }

    .logo-pv-slide_nav img {
        max-width: 172px;
        height: auto;
    }


    .slide_down_list ul {
        padding-left: 0;
        list-style: none;
        background-color: #fff;
        width: 50vw;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    }

    .slide_down_list a li {
        font-family: Helvetica;
        font-size: 18px;
        color: #58585A;
        padding: 11.5px;
        border-bottom: 1px solid #E4E4E4;
    }

    .menu-burger-mobile .Auto {
        border-left: 8px solid var(--auto);
    }
    .menu-burger-mobile .Technologie {
        border-left: 8px solid var(--techno);
    }
    .menu-burger-mobile .lectromnagers {
        border-left: 8px solid var(--electro);
    }
    .menu-burger-mobile .SantAlimentation {
        border-left: 8px solid var(--santalimentation);
    }
    .menu-burger-mobile .Maison {
        border-left: 8px solid var(--maison);
    }
    .menu-burger-mobile .Argent {
        border-left: 8px solid var(--argent);
    }
    .menu-burger-mobile .LoisirsFamille {
        border-left: 8px solid var(--LoisirsFamille);
    }
    .menu-burger-mobile .Plemle {
        border-left: 8px solid var(--plemle);
    }
    .menu-burger-mobile .Leblogue {
        border-left: 8px solid var(--leblogue);
    }
    .menu-burger-mobile .Chroniques {
        border-left: 8px solid var(--chronique);
    }
    .menu-burger-mobile {
        display: block;
        /*border-right: 1px solid #ffffff;*/
    }


}


/*** Tablette Portrait ***/
@media (max-width: 768px) {

    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */
    .menu_mobile-enter {
        opacity: 0.01;
    }

    .menu_mobile-enter.menu_mobile-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .menu_mobile-leave {
        opacity: 1;
        -webkit-transition: max-height 0.5s ease;
    }

    .menu_mobile-leave.menu_mobile-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */

    .menu-burger ul {
        width: 100vw;
    }
    .menu-burger {
        display: none;
    }

    .menu-burger-mobile {
        display: block;
        /*background-color: #D51E19;*/
        width: 50px;
        height: 50px;
    }
    #menu_mobile{
        width: 50vw;
        height: 8vh;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: scroll;
        z-index: 1000;
    }

    #menu_mobile.hide {
        transform: translate3d(-50vw, 0, 0);
        height: 50px;
    }

    #menu_mobile.show {
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
        height: 50px;
        position: relative;
        margin-top: -50px;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    }
    .slide_nav_burger_icon img {
        width: auto;
    }
    .slide_nav_burger_icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
        background-color: #D51E19;
        width: 50px;
        height: 50px;
    }

    .logo-pv-slide_nav {
        padding: 13px;
    }

    .logo-pv-slide_nav img {
        max-width: 172px;
        height: auto;
    }

    .slide_down_list a li {
        font-family: Helvetica;
        font-size: 18px;
        color: #58585A;
        padding: 11.5px;
        border-bottom: 1px solid #E4E4E4;
    }
}



/*** Mobile Portrait ***/
@media (max-width: 414px) {

    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */
    .menu_mobile-enter {
        opacity: 0.01;
    }

    .menu_mobile-enter.menu_mobile-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .menu_mobile-leave {
        opacity: 1;
        -webkit-transition: max-height 0.5s ease;
    }

    .menu_mobile-leave.menu_mobile-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
    /* MOBILE MENU EFFECT WITH REACT CSS TRANSITION */

    .menu-burger {
        display: none;
    }

    .menu-burger-mobile {
        display: block;
        /*border-right: 1px solid #ffffff;*/
    }
    #menu_mobile{
        width: 100vw;
        height: 8vh;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: scroll;
        z-index: 1000;
    }

    #menu_mobile.hide {
        transform: translate3d(-100vw, 0, 0);
        height: 50px;
    }

    #menu_mobile.show {
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
        height: 50px;
        position: relative;
        margin-top: -50px;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
        z-index: 2;
    }

    .slide_nav_burger_icon img {
        width: auto;
    }

    .slide_nav_burger_icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
        background-color: #D51E19;
        width: 50px;
        height: 50px;
    }

    .logo-pv-slide_nav {
        padding: 13px;
    }

    .logo-pv-slide_nav img {
        max-width: 172px;
        height: auto;
    }

    .slide_down_list ul {width: 100vw;}

    .slide_down_list a li {
        font-family: Helvetica;
        font-size: 18px;
        color: #58585A;
        padding: 11.5px;
        border-bottom: 1px solid #E4E4E4;
    }
}
