/* This is the css for the ArtcileHeader.js only */

h1 {
    font-family: Helvetica;
    font-size: 34px;
    padding-top: 10px;
    color: #000000;
}


.marginTop {
    margin-top: 40px;
}

.description {
    height: 146px;
    padding: 10px 15px 63px 10px;
    background-color: #ebebec;
}

.hero_img {
    position: relative;
}

.hero_img img {
    width: 100%;
}

.hero_img span {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 10px;
    bottom: 0;
    padding: 3px 3px;
}

.hero_img .Auto {
    background-color: var(--auto);
}

.hero_img .Technologie {
    background-color: var(--techno);
}

.hero_img .lectromnagers {
    background-color: var(--electro);
}

.hero_img .SantAlimentation {
    background-color: var(--santalimentation);
}

.hero_img .Plemle {
    background-color: var(--plemle);
}

.hero_img .Leblogue {
    background-color: var(--leblogue);
}

.hero_img .Argent {
    background-color: var(--argent);
}

.hero_img .Maison {
    background-color: var(--maison);
}

.hero_img .LoisirsFamille {
    background-color: var(--LoisirsFamille);
}

.hero_img .Chroniques {
    background-color: var(--chronique);
}



/**************** ################
            RESPONSIVE
 ################ **************/

@media (min-width: 1366px) {
    .article_header {
        margin-top: 40px;
    }
}

@media (max-width: 1024px) {
    .full-width-responsive .container {
        max-width: 100%;
        padding-right: 3px;
        padding-left: 15px;
    }
    .description span {
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        top: 75.9%;
        padding: 3px 3px;
    }
    .mtopipad {
        margin-top: 40px;
    }

    .mtopipadDouble {
        margin-top: 80px;
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 17px;
    }
    .full-width-responsive .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .description {
        height: 100px;
        padding: 10px 15px 0 10px;
    }
    .description span {
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        top: 80.5%;
        padding: 3px 3px;
    }

    .mTop {
        margin-top: 100px;
    }
}


@media (max-width: 667px) {
    .description span {
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        top: 76.4%;
        padding: 3px 3px;
    }

    .SantAlimentationtitleCategory {
        display: none;
    }

    .margin_top_index {
        margin-top: 40px;
    }
}


@media (max-width: 414px) {
    h1 {
        font-size: 17px;
    }
    .description span {
        color: #ffffff;
        position: absolute;
        top: 65%;
        font-size: 12px;
        padding: 3px 3px;
    }

    .margin_top_index {
        margin-top: 40px;
    }
}