.rel {
    position: relative;
}


.full-width-responsive {
    padding-top: 100px;
}


.AutotitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--auto);
}

.TechnologietitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--techno);
}

.lectromnagerstitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--electro);
}

.SantAlimentationtitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--santalimentation);
}

.PlemletitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--plemle);
}

.LebloguetitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--leblogue);
}

.ArgenttitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--argent);
}

.MaisontitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--maison);
}

.LoisirsFamilletitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--LoisirsFamille);
}

.ChroniquestitleCategory {
    font-size: 19px;
    position: absolute;
    text-transform: uppercase;
    color: var(--chronique);
}



/**************** ################
            RESPONSIVE
 ################ **************/

 @media (max-width: 1024px) {
     .full-width-responsive {
         padding-top: 0;
     }


     .category_mobile {
         display: block;
         position: absolute;
         top: 0;
         left: 5%;
         font-family: Helvetica;
         font-size: 17px;
         font-weight: 300;
         text-transform: uppercase;
         color: #ffffff;
         border-left: 1px solid #ffffff;
         height: 50px;
         padding: 13px 0 13px 13px;
     }
 }


@media (max-width: 768px) {

    .AutotitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .TechnologietitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .lectromnagerstitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .SantAlimentationtitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .PlemletitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .LebloguetitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .ArgenttitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .MaisontitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .LoisirsFamilletitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .ChroniquestitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 10%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .category_mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 7%;
        font-family: Helvetica;
        font-size: 17px;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff;
        border-left: 1px solid #ffffff;
        height: 50px;
        padding: 13px 0 13px 13px;
    }

    .margin_top_index {
        margin-top: 40px;
    }
}


/*** Mobile Portrait ***/
@media (max-width: 414px) {

    .AutotitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .TechnologietitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .lectromnagerstitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .SantAlimentationtitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .PlemletitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .LebloguetitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .ArgenttitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .MaisontitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .LoisirsFamilletitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .ChroniquestitleCategory {
        display: none;
        font-size: 19px;
        position: absolute;
        top: 3%;
        left: 15%;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 1;
    }

    .category_mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 12%;
        font-family: Helvetica;
        font-size: 17px;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff;
        border-left: 1px solid #ffffff;
        height: 50px;
        padding: 13px 0 13px 13px;
    }

    .mTop {
        margin-top: 90px;
    }
}

@media (max-width: 375px) {
    .category_mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 14%;
        font-family: Helvetica;
        font-size: 17px;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff;
        border-left: 1px solid #ffffff;
        height: 50px;
        padding: 13px 0 13px 13px;
    }
}


