/* This is the css only for nav_bar_top.js */
a, a:hover {
    text-decoration: none;
}

.menu-burger {
    background-color: #D51E19;
    width: 50px;
    height: 50px;
}

.category_mobile {
    display: none;
}

.xl_pv_logo {
    text-align: center;
    width: auto;
    height: auto;
}

.xl_pv_logo p {
    font-size: 16px;
    position: absolute;
    right: 28%;
}

.container-fluid {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    height: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px -1px rgba(0,0,0,0.75);
}

.logo-pv img {
    width: 140px;
    height: auto;
    margin: 15px 0 15px 20px;
}

.sign-in {
    text-align: right;
    padding: 8px 0;
}

.sign_in_link {
    position: relative;
}

.sign_in_link:before {
    position: absolute;
    content: "";
    height: 49px;
    width: 1px;
    background-color: #b3b2b3;
    top: -15px;
    left: -7.4%;
}

.sign_in_link .arrow_down {
    width: 20px;
    height: auto;
    margin-right: 16px;
}

.sign-in img {
    height: 35px;
    width: auto;
    cursor: pointer;
}

.sign-in p {
    font-family: Helvetica;
    font-size: 16px;
    display: inline;
    padding: 13px 21px 13px 20px;
    color: #9B9B9B;
    cursor: pointer;
}

.sign-in img {
    height: 35px;
    width: auto;
}

.transition_default {
    transform: rotate(0deg);
    transition: 600ms ease all;
}

.transition_active {
    transform: rotate(180deg);
    transition: 600ms ease all;
}

/**************** ################
            RESPONSIVE
 ################ **************/

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sign_in_link:before {
        position: absolute;
        content: "";
        height: 49px;
        width: 1px;
        background-color: #b3b2b3;
        top: -15px;
        left: -7.4%;
    }

}


@media (max-width: 1024px) {
    .container-fluid {
        position: absolute;
        z-index: 1;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .sign-in {
        display: none;
    }

    .logo-pv {
        display: none;
    }

    .xl_pv_logo p {
        font-size: 15px;
        position: absolute;
        right: 30%;
    }

    .Auto.container-fluid {
        background-color: var(--auto);
    }

    .Technologie.container-fluid {
        background-color: var(--techno);
    }

    .lectromnagers.container-fluid {
        background-color: var(--electro);
    }

    .SantAlimentation.container-fluid {
        background-color: var(--santalimentation);
    }

    .Plemle.container-fluid {
        background-color: var(--plemle);
    }

    .Leblogue.container-fluid {
        background-color: var(--leblogue);
    }

    .Argent.container-fluid {
        background-color: var(--argent);
    }

    .Maison.container-fluid {
        background-color: var(--maison);
    }

    .LoisirsFamille.container-fluid {
        background-color: var(--LoisirsFamille);
    }

    .Chroniques.container-fluid {
        background-color: var(--chronique);
    }

    .menu-burger-mobile.Auto {
        background-color: var(--auto);
    }
    .menu-burger-mobile.Technologie {
        background-color: var(--techno);
    }
    .menu-burger-mobile.lectromnagers {
        background-color: var(--electro);
    }
    .menu-burger-mobile.SantAlimentation {
        background-color: var(--santalimentation);
    }
    .menu-burger-mobile.Maison {
        background-color: var(--maison);
    }
    .menu-burger-mobile.Argent {
        background-color: var(--argent);
    }
    .menu-burger-mobile.LoisirsFamille {
        background-color: var(--LoisirsFamille);
    }
    .menu-burger-mobile.Plemle {
        background-color: var(--plemle);
    }
    .menu-burger-mobile.Leblogue {
        background-color: var(--leblogue);
    }
    .menu-burger-mobile.Chroniques {
        background-color: var(--chronique);
    }
}



/*** Portrait ***/
@media (max-width: 768px) {
    .sign-in {
        display: none;
    }
    .logo-pv {
        display: none;
    }
    .container-fluid {
        position: absolute;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .xl_pv_logo p {
        position: absolute;
        right: 150px;
    }

}


@media (max-width: 667px) {
    .xl_pv_logo p {
        position: absolute;
        right: 180px;
    }
}


/*** Portrait ***/
@media (max-width: 414px) {

    .sign-in {
        display: none;
    }
    .logo-pv {
        display: none;
    }
    .container-fluid {
        position: absolute;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .xl_pv_logo p {
        position: absolute;
        right: 70px;
    }


}