/*This css is only for the product_content*/

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/** helper classes **/
.nopadding-right{
    padding-right: 0;
}

.nopadding-left {
    padding-left: 0;
}

.bg {
    background-color: #F8F8F8;
}

.products_sheet {
    padding-top: 100px;
}


.product_presentation {
}

.presentation_sticky_col, .presentation_info_col {
    width: 50%;
}

.presentation_sticky_col {
    float: left;
}

.presentation_info_col {
    float: right;
}

.product_info_list {
    margin-top: 30px;
}

/*.product_information {*/
    /*max-height: 100vh;*/
    /*overflow-y: scroll;*/
/*}*/

.product_description {
    height: 110px;
    background-color: #8695B0;
    padding: 20px 15px;
}

.product_description h2 {
    font-size: 25px;
    color: #000000;
}

.product_description span {
    font-size: 36px;
    color: #ffffff;
    line-height: 40px;
}

.characteristics_container {
    position: relative;
    height: 50px;
    background-color: #8695B0;
    padding: 14px 0 0 40px;
    margin: 0 15px;

}

.characteristics_container .arrow_icon {
    position: absolute;
    top: 20px;
    right: 10px;
}

.characteristics_container .resume_icon {
    position: absolute;
    top: 18px;
    left: 13px;
}

.characteristics_container p {
    color:  #ffffff;
    font-size: 18px;
    margin-bottom: 0;
}

.characteristics_list {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0 0 0;
    background-color: #FFFFFF;
}


.product_rating {
    margin: 20px 0;
}


.product_information ul {
    list-style-type: none;
    padding: 0;
}

/**************** ################
            RESPONSIVE
 ################ **************/

@media (max-width: 1024px) {

    .container--full-width {
        width: 100%;
        max-width: 100%;
    }

    .no-gutters-mobile > .col,
    .no-gutters-mobile > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .products_sheet {
        padding-top: 0;
    }

    h2 {
        padding: 0;
    }
}

@media (max-width: 812px) {
    .presentation_sticky_col,
    .presentation_info_col {
        width: 100%;
    }
}


@media (max-width: 768px) {
}

@media (max-width: 736px) {

}


@media (max-width: 667px) {
}


@media (max-width: 414px) {

}


@media (max-width: 375px) {
}