/* This is the css only for profile menu */
.profile_menu ul {
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 98%;
    right: 0;
    padding-left: 0;
    background-color: #fff;
    width: 278.7px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}

.profile_menu ul li {
    font-family: Helvetica;
    box-sizing: border-box;
    font-size: 14px;
    color: #58585A;
    border-bottom: 1px solid #D8D8D8;
    text-align: left;
    padding: 15px;
}

.profile_menu ul li:hover {
    color: #58585A;
    background-color: #F0F0F0;
    cursor: pointer;
}

.menu_profile-enter {
    opacity: 0.01;
}

.menu_profile-enter.menu_profile-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
}

.menu_profile-leave {
    opacity: 1;
    -webkit-transition: max-height 0.5s ease;
}

.menu_profile-leave.menu_profile-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
